#cesiumContainer{   
	width:100%;
	height:100%;
    float:right;
    z-index:0;
    /*border-left:6px #8A2BE2 solid;*/
    /*margin-top:3px;*/
	}

#listUL a{
    color: black;
}

#icon{ z-index:1;
     position: absolute;
     left:17%;
     top:14%;
     width:7%;
     height:12%;
    } 
#icon>img{
    position:absolute;
    top:15%;
    left:0;
    width:80%;
    height:90%;
    margin-left:auto;/*设置左右外边距，auto表示对齐*/
    margin-right:auto;
}     
#title{
    display: none;
   height:12%;
   width:100%;
   border-style:solid;
   border-color:#8A2BE2;
   border-width:4px 5px 6px 0px;
    
   /*background-image:url('one1.jpg');*/
   background-color: #eee;
   z-index:0;
}
#one{
    position:absolute;
    top:0;
    left:0;
    width:35%;
    height:12%;
    float:left;
    overflow:hidden;
} 
.wrap{ 
     height:12%;
     position: absolute;
     left: 35%;
     top:0.5%;
     width:65%;
     float:left;
     overflow:hidden;
     z-index:1;
     padding:3px;
     /*background-image:url('one2.jpg');
     background-size:100% 100%;/*背景完全占据模块*/
     
     }
/*iframe{position:absolute;left:0; width:100%;top:0px;height:100%; 
 background-color:transparent;
border-color:#000000;z-index:2;overflow:hidden;}
@-moz-document url-prefix(){
iframe{position:absolute;left:0; top:0;height:100%;width:100%;border:5px;border-color:#000000;
z-index:2; background-color:transparent;overflow:hidden;}}*/
/*@font-face {
   font-family: 'CynicalHills-Regular';
   src: url('CynicalHills-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}*/

#pp{
         white-space: nowrap;/*控制文本不折行显示*/
         position: absolute;
         left: 23%;
         top:5px;          
         font-weight:bold;
         color:#00008B;
         font-size:2.3em;
         letter-spacing:0.85em;/*规定字符间的间距*/
         line-height:0;/*设置行高*/
           
         }
#pt{     position: absolute;
         left: 23%;
         top:50%;
         white-space: nowrap;/*控制文本不折行显示*/
         letter-spacing:0.22em;/*规定字符间的间距*/
        
        
         text-indent:5px;/*首行缩进*/
         font-family:Arial;
		 /*font-style: italic;*/
         font-weight:normal;
         color:#1E90FF;
         font-size:1.5em;
          
         line-height:100%;/*设置行高*/
          
         }

.main-title-img{
    position: absolute;
    left: 19%;
    width: 80%;
    height: 90%;
    margin: 10px 0px;
}


#logo{
    position:absolute;
    left:0; 
    top:0;
    padding-left: 5px;
    padding-top: 5px;
    width:17%;
    height:100%;
    z-index:1;
     }

#one>img{
    position:absolute;
    left:0; 
    top:0;
    padding-left: 5px;
    padding-top: 5px;
    width:17%;
    height:94%;
    z-index:1;
     }

body{
	 background-color:white;
}
#navigation {
    display: none;
	position:absolute;
    width:14%;
    height:100%;
	font-family:楷体;
	font-weight:bold;
	font-size:1.2em;
	color:#000000;
    box-sizing: content-box;
	
    border:5px solid;
    border-radius:2px;
    border-color: #FFFFFF;
    background-color:#E6E6FA;
  }
#navigation > ul {
    position:absolute;
    top:2px;
	width:99%;
	height:85%;
	list-style-type:none;				/* 不显示项目符号 */
	margin:0px;
	padding:0px;
      
    border-radius:2px;
     
    overflow:auto;
    /*溢出加滚动条*/
	
}
#navigation > ul > li {
    
	border-color:#FFFFFF;
     border:1px solid;
    border-radius:2px;	/* 添加下划线 */
}

#navigation > ul > li > a{
	display:block;						/* 区块显示 */
	padding:5px 5px 5px 0.5em;
	text-decoration:blink;
    border:2px solid;
    border-color: #7B68EE;
	border-left:40px solid #7B68EE;
    height:20px;
    border-radius:1px;		/* 右侧阴影 */
    box-sizing: content-box;
}


#navigation > ul > li > a:hover{		/* 鼠标经过时 */
	background-color:#990020;			/* 改变背景色 */
	color:#ffff00;						/* 改变文字颜色 */
	cursor:pointer;
}

/* 子菜单的CSS样式 */
#navigation ul li ul{
	list-style-type:none;
	margin:0px;
	padding:0px 0px 0px 0px;
	
}
#navigation ul li ul li{
	border-top:1px solid #ED9F9F;
	
}
#navigation ul li ul li a{
	display:block;
	padding:3px 3px 3px 0.5em;
	text-decoration:none;
	border-left:40px solid #20B2AA;
	border-right:1px solid #711515;
}
#navigation ul li ul li ul li a{
	display:block;
	padding:3px 3px 3px 0.5em;
	text-decoration:none;
	border-left:40px solid #87CEEB;
	border-right:1px solid #711515;
}

#navigation ul li ul li div{
	display:block;
	height:50%;
	text-decoration:none;
	border-left:1px solid #a71f1f;
	border-right:1px solid #711515;
}
@-moz-document url-prefix(){


#pp{
         white-space: nowrap;/*控制文本不折行显示*/
         position: absolute;
         left: 26.2%;
         top:5px;          
         font-weight:bold;
         color:#00008B;
         font-size:1.9em;
         letter-spacing:0.65em;/*规定字符间的间距*/
         line-height:0;/*设置行高*/
           
         }
         
#pt{     position: absolute;
         left: 25%;
         top:55%;
         white-space: nowrap;/*控制文本不折行显示*/
         letter-spacing:0.18em;/*规定字符间的间距*/
        
         text-indent:5px;/*首行缩进*/
         font-family:Arial;
		 font-style: italic;
         font-weight:normal;
         color:#1E90FF;
         font-size:1.2em;
          
         line-height:100%;/*设置行高*/
          
         }



}
#legend{margin:3% 3% 3% 3%;
        border-style:solid; 
        border-width:1px;
        border-color:3300cc;}
#navigation ul li ul li a:link, #navigation ul li ul li a:visited{
	 
	color:blue;
	cursor:pointer;
}
#navigation ul li ul li a:hover{
	background-color:#c2425d;
	color:#ffff00;
	cursor:pointer;
}

#navigation ul li ul.myHide{	
	display:none;
}
#navigation ul li ul.myShow{	
	display:block;
}

.myHide{	/* 隐藏子菜单 */
	display:none;
}
.myShow{	/* 显示子菜单 */
	display:block;
}
.list{margin:0;padding:0;
      list-style-type:none;}
 

#hasradio li>input{cursor:Pointer}

#hascheckbox li>input{cursor:Pointer}
 
           
          
.ui-menu { 
        width: 150px; 
        top:10px; 
        left: 10px;        
        margin: 10px;
        font-family: sans-serif;
        font-size: 9pt;
        display:none;
    } 
 

 
/* 横向滚动
------------------------------ */
.scroll_horizontal{position:absolute;width:100%;height:100%;padding:1px; }
.scroll_horizontal .box{overflow:hidden;position:absolute;left:4%;top:3%;width:95%;height:80%;margin:0 auto;}
.scroll_horizontal .list{overflow:hidden;width:9999px;}
.scroll_horizontal .list li{float:left;width:150px;height:100%;}
 .img{width:95%;height:100%;border-left:4px #8A2BE2 solid}

.scroll_horizontal .next{position:absolute;left:96%;top:25%;width:2%;height:40%;font:0/0 Arial;cursor:pointer;  }
.scroll_horizontal .prev{position:absolute;left:0%;width:2.5%;height:40%;top:25%;cursor:pointer;}
 
 